[submodule "udevpp"]
	path = udevpp
	url = https://github.com/DevCodeOne/udevpp
[submodule "external/udevpp"]
	path = external/udevpp
	url = https://github.com/DevCodeOne/udevpp
[submodule "external/cxxopts"]
	path = external/cxxopts
	url = https://github.com/jarro2783/cxxopts
