[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "udevpp"]
	path = udevpp
	url = https://github.com/DevCodeOne/udevpp
[submodule "external/udevpp"]
	path = external/udevpp
	url = https://github.com/DevCodeOne/udevpp
